# Multiple Linear Regression

# TO-Do 1

Execute uma regressão linear múltipla no dataset Bike_Sharing.csv que vocês manipularam na disciplina Statistics Fundamentals, da professora Regina

In [ ]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [ ]:
y_train

# Regression Trees

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeRegressor

In [2]:
dataset = pd.read_csv('bases/50_Startups.csv')
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

### TO-DO 1

Remova as colunas Administration e State do dataset

### TO-DO 2
Separe o dataset em vetor de características e variável meta

In [ ]:
#resposta

### TO-DO 3
Treine um modelo de regressão usando Regression Tree

### TO-DO 4
Suponha que a empresa tenha um orçamento de R$ 500.000,00.

Eles estão considerando três opções:

> R&D: 300.000,00 ; Marketing: 200.000,00

> R&D: 200.000,00 ; Marketing: 300.000,00

> R&D: 100.000,00 ; Marketing: 400.000,00

Qual opção irá, a partir do modelo treinado, retornar o maior lucro?

In [ ]:
# resposta

In [ ]:
from sklearn import linear_model